<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nancy.aucklandtransport" >

    <!-- android:installLocation="preferExternal" -->

    <permission
        android:name="com.example.nancy.aucklandtransport.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.nancy.aucklandtransport.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="4452000" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCOA_RXGLEYFgJyKJjGhVDkIwfkIAr0diw" />

        <activity
            android:name=".MainApp"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMapActivity"
            android:label="@string/title_activity_display_map"
            android:parentActivityName=".MainApp" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nancy.aucklandtransport.MainApp" />
        </activity>
        <activity
            android:name=".RoutesActivity"
            android:label="@string/title_activity_routes"
            android:parentActivityName=".MainApp" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nancy.aucklandtransport.MainApp" />
        </activity>
        <activity
            android:name=".RouteInfoScreen"
            android:label="@string/title_activity_route_info_screen"
            android:parentActivityName=".RoutesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nancy.aucklandtransport.RoutesActivity" />
        </activity>
        <activity
            android:name=".RouteMapActivity"
            android:label="@string/title_activity_route_map"
            android:parentActivityName=".RouteInfoScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nancy.aucklandtransport.RouteInfoScreen" />
        </activity>

        <service
            android:name=".BackgroundService"
            android:enabled="true"
            android:label=".BackgroundService" >
            <intent-filter>
                <action android:name="com.example.nancy.aucklandtransport.BackgroundService" />
            </intent-filter>
        </service>
        <service
            android:name="org.androidpn.client.NotificationService"
            android:enabled="true"
            android:label="NotificationService" >
            <intent-filter>
                <action android:name="org.androidpn.client.NotificationService" />
            </intent-filter>
        </service>

        <activity
            android:name=".PathElevation"
            android:label="@string/title_activity_path_elevation"
            android:parentActivityName=".RouteInfoScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nancy.aucklandtransport.RouteInfoScreen" />
        </activity>

        <service android:name=".ActivityRecognitionService" />

        <activity
            android:name=".NotificationUpdates"
            android:label="@string/title_activity_notification_updates" >
        </activity>
        <activity
            android:name=".ManageRoute"
            android:label="@string/title_activity_manage_route"
            android:parentActivityName=".RoutesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nancy.aucklandtransport.RoutesActivity" />
        </activity>
        <activity
            android:name=".PathTracker"
            android:label="@string/title_activity_path_tracker"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".TouristPlanner"
            android:label="@string/title_activity_tourist_planner"
            android:parentActivityName=".MainApp"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nancy.aucklandtransport.MainApp" />
        </activity>
        <activity
            android:name=".TouristRoute"
            android:label="@string/title_activity_tourist_route"
            android:parentActivityName=".TouristPlanner"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nancy.aucklandtransport.TouristPlanner" />
        </activity>
        <activity
            android:name=".AlternateRoute"
            android:label="@string/title_activity_alternate_route"
            android:parentActivityName=".ManageRoute" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nancy.aucklandtransport.ManageRoute" />
        </activity>
    </application>

</manifest>
